PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
JWT_EXPIRES=3d

BOT_TOKEN=
STAFF_BOT_TOKEN=
GROUP_ID=

AMOCRM_API_URL=https://iteachuzb.amocrm.ru/api/v4/
AMOCRM_API_KEY=

SIPUNI_API_URL=https://sipuni.com/api/
SIPUNI_API_USER=
SIPUNI_API_KEY=

CRON_LEAD_COUNT_SYNC='*/5 * * * *'
CRON_CALL_DURATION_SYNC='*/1 * * * *'
CRON_DAILY_REPORT='00 08 * * *'